@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('Inter-SemiBold.woff') format('woff');
}
