@font-face {
  font-family: 'ClashDisplay';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('ClashDisplay-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'ClashDisplay';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('ClashDisplay-Bold.woff') format('woff');
}
